
$kb_blue1: #24338a;
$kb_blue2: #2860a3;
$kb_turq: #33b2c1;
$kb_grey: #999b9e;
$ademy_blue: #1054c8;

// $dark: $kb_turq;
$enable-gradients: true;
$primary: $ademy_blue;
// $btn-border-radius: 0;

@import "node_modules/bootstrap/scss/bootstrap";

// @include media-breakpoint-down(lg) {
//   .container {
//     width: 100%;
//     max-width: none;
//   }
// }

.text-black-75 { color: rgba($black, .75) !important; }
.text-white-75 { color: rgba($white, .75) !important; }

@include media-breakpoint-down(md) {
  .kb-counters {
    white-space: nowrap;
  }
}

.material-icons {
  vertical-align: bottom;
}

.-ml-1 {
  margin-left: -0.25rem !important;
}

.-mr-1 {
  margin-right: -0.25rem !important;
}

.-mx-1 {
  margin-left: -0.25rem !important;
  margin-right: -0.25rem !important;
}

ul.kb-list {
  text-align: left;
  color: $secondary;
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    position: relative;
    padding-left: 1rem; // leave room for bullet to the left
    margin-bottom: 0.25rem; // spacing between list items
    &:before {
      font-family: 'Material Icons';
      content: '\e5cc'; // chevron_right
      position: absolute;
      left: -0.25rem; // vertically align bullets with content above
      top: 0;
    }
  }
}

.kb-shadow {
  box-shadow: 0 10px 37px 0 rgba(0,0,0, 0.23), -40px 45px 0 0 rgba(238,238,238, 0.8)
}

.lala {
  position: relative;
  display: block;
}
.lala:before {
  content: "hello";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: grey;
  top: -50px;
  left: -50px;
}

.kb-hero {
  // @include gradient-radial($inner-color: rgba($black, 0.3), $outer-color: rgba($black, 0.3));
  background-color: rgba($black, 0.3);
}

.letter-spacing-1 {
  letter-spacing: 0.25rem;
}

.f-4 {
  font-size: 1rem !important;
}
.f-6 {
  font-size: 1.5rem !important;
}
.f-8 {
  font-size: 2rem !important;
}

@include media-breakpoint-up(lg) {
  .f-lg-4 {
    font-size: 1rem !important;
  }
  .f-lg-16 {
    font-size: 4rem !important;
  }
  .kb-divider {
    &:after {
      content: "";
      width: 1px;
      height: 80px;
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      background-color: rgba(255, 255, 255, 0.3);
      transform: translateY(-50%);
    }
    &:last-child:after {
      display: none;
    }
  }
}

.navbar-collapse {
  flex-grow: initial !important;
}
