{{> carousel}}
{{> counters}}
<div class="row">
  <div class="col-12 text-center py-5">
    <h6>ΦΡΟΝΤΙΣΤΗΡΙΟ ΜΕΣΗΣ & ΑΝΩΤΑΤΗΣ ΕΚΠΑΙΔΕΥΣΗΣ</h6>
    <h2 class="display-4 col-12">
      <span class="text-dark d-lg-inline-block">ΚΑΛΩΣ ΗΡΘΑΤΕ ΣΤΟ</span>
      <span class="text-primary d-inline-block">ΚΕΝΤΡΟ ΒΙΟΛΟΓΙΑΣ</span>
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-none d-lg-block">
        <img src="{{root}}assets/img/our_place.jpg" class="img-fluid rounded kb-shadow">
        </img>
      </div>
      <div class="col-lg-8">
        <h3>Η ΕΚΠΑΙΔΕΥΤΙΚΗ ΦΙΛΟΣΟΦΙΑ ΜΑΣ</h3>
        <div>
          <p>Προσαρμόζοντας τη διδακτική στις εξελίξεις της Βιολογίας, των νέων τεχνολογιών
            και της παιδαγωγικής, το <b>ΚΕΝΤΡΟ ΒΙΟΛΟΓΙΑΣ</b> παρέχει μια σύγχρονη μέθοδο εκπαίδευσης
            και προετοιμασίας. Με γνώμονα τις εξατομικευμένες ανάγκες κάθε μαθητή, βασικό μέλημα αποτελει 
            η συγκρότηση ολιγομελών και ομοιογενων ευέλικτων τμημάτων, ώστε οι διδάσκοντες
            να διαθέτουν περισσότερο χρόνο στις ανάγκες του.</p>
          <p> Παρέχοντας τα απαραίτητα κίνητρα τους μαθητες μας, θα συμβάλουμε να αγαπήσουν την
            επιστημονική γνώση και να αποκτήσουν τα κατάλληλα εφόδια ώστε να αντιμετωπισουν
            κάθε απαιτητικη δοκιμασια με σκοπό την πρόοδο και την επίτευξη των στόχων τους σε κάθε επίπεδο. </p>
          <p><b>Κλειδιά για την επιτυχία αποτελούν:</b>
          </p>
          <div class="row">
            <div class="col-12 col-md-6">
              <ul class="kb-list">
                <li>
                  Η αρτια επιστημονική κατάρτιση και η μεγάλη εμπειρία των διδασκόντων
                </li>
                <li>
                  Η υψηλή ποιότητα διδασκαλίας και η οργάνωση μελετης των μαθητών
                </li>
                <li>
                  Η συστηματική καταγραφή των επιδόδεων των μαθητών
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-6">
              <ul class="kb-list">
                <li>
                  Η έγκαιρη κάλυψη της εξεταστέας ύλης
                </li>
                <li>
                  Τα προγραμματισμένα διαγωνίσματα και η προσομοίωση των Πανελλαδικών Εξετάσεων
                </li>
                <li>
                  Η συνεχής επικοινωνία με τους μαθητές και η τακτική επαφή με τους γονείς
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
