<div id="kb-carousel" class="carousel slide row carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#kb-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#kb-carousel" data-slide-to="1"></li>
    <li data-target="#kb-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{root}}assets/img/slides/slide2.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{root}}assets/img/slides/slide3.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{root}}assets/img/slides/slide0.jpg" alt="Second slide">
    </div>
  </div>
  <div class="kb-hero d-flex w-100 h-100 position-absolute justify-content-center">
    <div class="align-self-center text-center">
      <p class="lead text-white font-weight-bold letter-spacing-1 d-none d-lg-inline-block">
        ΦΡΟΝΤΙΣΤΗΡΙΟ ΜΕΣΗΣ & ΑΝΩΤΑΤΗΣ ΕΚΠΑΙΔΕΥΣΗΣ
      </p>
      <h1 class="display-4 text-center">
        <span class="text-white d-none d-lg-inline-block">ΚΑΛΩΣ ΗΡΘΑΤΕ ΣΤΟ</span>
        <span class="text-primary d-inline-block">ΚΕΝΤΡΟ ΒΙΟΛΟΓΙΑΣ</span>
      </h1>
    </div>
  </div>
  <a class="carousel-control-prev" href="#kb-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#kb-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
