<div class="row kb-counters bg-primary p-3 p-lg-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 text-left text-lg-center text-white-75 kb-divider">
        <i class="material-icons f-6 f-lg-16 f-6 f-lg-16">done</i>
        <div class="h6 d-inline d-lg-block">
          Τμήματα Λυκείου/Απόφοιτων/Φοιτητικά
        </div>
      </div>
      <div class="col-md-6 col-lg-3 text-left text-lg-center text-white-75 kb-divider">
        <i class="material-icons f-6 f-lg-16 f-6 f-lg-16">done</i>
        <div class="h6 d-inline d-lg-block">
          Διδασκαλία με συγχρονες μεθόδους
        </div>
      </div>
      <div class="col-md-6 col-lg-3 text-left text-lg-center text-white-75 kb-divider">
        <i class="material-icons f-6 f-lg-16 f-6 f-lg-16">done</i>
        <div class="h6 d-inline d-lg-block">
          Δωρεάν εγγραφή και συγγράματα
        </div>
      </div>
      <div class="col-md-6 col-lg-3 text-left text-lg-center text-white-75 kb-divider">
        <i class="material-icons f-6 f-lg-16 f-6 f-lg-16">done</i>
        <div class="h6 d-inline d-lg-block">
          ONLINE μαθήματα
        </div>
      </div>
    </div>
  </div>
</div>
