<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{root}}assets/img/logo60@1x.png" width="153" height="60" alt="Κέντρο Βιολογίας logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">ΣΧΕΤΙΚΑ ΜΕ ΕΜΑΣ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Η ΟΜΑΔΑ ΜΑΣ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">NEA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ΕΠΙΚΟΙΝΩΝΙΑ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
