<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>New page</title>
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <div class="position-absolute bg-info p-1">
      <div class="d-inline">xs</div>
      <div class="d-none d-sm-inline">sm</div>
      <div class="d-none d-md-inline">md</div>
      <div class="d-none d-lg-inline">lg</div>
      <div class="d-none d-xl-inline">xl</div>
    </div>

    {{> navigation}}
    <main role="main" class="container-fluid">
      {{> body}}
    </main>

    <!-- build:js -->
    <!-- <script src="assets/js/main.js"></script> -->
    <!-- endbuild -->

    <script src="{{root}}assets/js/vendor.js"></script>
  </body>

</html>
